# Automatically load Nix dev shell with direnv
# Run 'direnv allow' after modifying this file

if has nix; then
  if type use_flake &>/dev/null && [ -f flake.nix ]; then
    use flake
  else
    use nix
  fi
fi

